/ {
    combos {
        compatible = "zmk,combos";
        combo_esc {
            timeout-ms = <50>;
            key-positions = <19 20 21>;
            bindings = <&to 0>;
        };

        combo_lgui {
            timeout-ms = <50>;
            key-positions = <26 27>;
            bindings = <&kp LGUI>;
        };

        combo_lsft {
            timeout-ms = <50>;
            key-positions = <14 16>;
            bindings = <&kp LEFT_SHIFT>;
        };

        combo_lctl {
            timeout-ms = <50>;
            key-positions = <27 28>;
            bindings = <&kp LCTRL>;
        };

        combo_lalt {
            timeout-ms = <50>;
            key-positions = <26 28>;
            bindings = <&kp LALT>;
        };

        combo_lboot {
            timeout-ms = <50>;
            key-positions = <25 26 27 28 29>;
            bindings = <&bootloader>;
        };

        combo_rboot {
            timeout-ms = <50>;
            key-positions = <30 31 32 33 34>;
            bindings = <&bootloader>;
        };

        combo_setting {
            timeout-ms = <50>;
            key-positions = <42 43>;
            bindings = <&mo SETTING>;
        };

        combo_rgui {
            timeout-ms = <50>;
            key-positions = <31 32>;
            bindings = <&kp RGUI>;
        };

        combo_rsft {
            timeout-ms = <50>;
            key-positions = <19 21>;
            bindings = <&kp RIGHT_SHIFT>;
        };

        combo_rctl {
            timeout-ms = <50>;
            key-positions = <32 33>;
            bindings = <&kp RCTRL>;
        };

        combo_ralt {
            timeout-ms = <50>;
            key-positions = <31 33>;
            bindings = <&kp RALT>;
        };

    };
};
